@model OnWelo.Models.Models.Voter

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add New Voter</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VoterId" class="control-label"></label>
                <input asp-for="VoterId" readonly class="form-control" value="@Guid.NewGuid().ToString("N").Substring(0, 10).ToUpper()" />
                <span asp-validation-for="VoterId" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="VoterName" class="control-label"></label>
                <input asp-for="VoterName" class="form-control" />
                <span asp-validation-for="VoterName" class="text-danger"></span>
            </div>
            <p></p>
            <div class="input-group" style="width:20%">
                <button type="submit">Save </button>
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
